/*
#FFC819 yellow
#FD8B7C pink
#FFC2B1 light pink
#C1564B dark pink
*/


/*GENEL*/
body{
    background-color:white;
}
.navbar{
    background-color:#C1564B;
}
a{
    color: white;
}
a:hover{
    color:#FFC819;
}


/*INPUT*/
.inputArea{
    display:block;
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
}
.form-control:focus { 
    border-color: #FD8B7C;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(255, 194, 177);
}
/*OUTPUT*/
.outputArea{
    display:block;
    color:white;
    background-color: #FD8B7C;
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
}
#output{
    overflow-x:hidden; overflow-y:auto;
}
/*TREE*/
.treeArea{
    display:block;
    background-color:#FFC819;
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
}

