/*
#FFC819 yellow
#FD8B7C pink
#FFC2B1 light pink
#C1564B dark pink
*/
body{
    background-color:white;
}
.navbar{
    background-color:#C1564B;
}
.inputArea{
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
}
.outputArea{
    color:white;
    background-color: #FD8B7C;
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
}
.treeArea{
    background-color:white;
    margin-top: 10px;
    margin-bottom:10px;
    padding:10px;
}
a{
    color: white;
}

